<header class="flex mx-auto justify-center items-center">
  <div>
    <%= link_to "sample app", '#', id: "logo" %>
    <nav>
      <ul class="flex flex-col">
        <li><%= link_to "Top",   '#' %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
