<% provide(:title, "Top") %>

<h1 class="font-bold">Top Page</h1>
<div class="flex flex-col m-2">
  <p>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
  </p>
</div>
